{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "no-mixed-operators": "off",
	"linebreak-style": "off"
  },
  "globals": {
    "describe": true,
    "it": false
  }
}
